# APP (.env)
APP_DB_NAME=yourDbName
APP_DB_HOST=yourDbHost
APP_DB_PORT=yourDbPort
APP_DB_USER=yourDbUser
APP_DB_PASSWORD=yourDbPassword

# docker (.env)
POSTGRES_USER=yourUsername
POSTGRES_PASSWORD=yourPassword
POSTGRES_DB=user_db